#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  /* text-align: center; */
  /* --bs-tertiary-color: purple */
}
body {
  background-attachment: fixed
}
main {
  margin-top: 100px;
}

footer {
  padding: 0px;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

@font-face {
  font-family: "Mono";
  src: url("./fonts/NotoMono-Regular.ttf")
  format("truetype");
}
